<div class="Products">
    <h4>Available Products</h4>
    <button><a href="/product?pid=0">Product 1</a></button>
    <button><a href="/product?pid=1">Product 2</a></button>
    <button><a href="/product?pid=2">Product 3</a></button>
    <hr/>
</div>
